@import "syntax-variables";

atom-text-editor,
atom-text-editor {
    background-color: @syntax-background-color;
    color: @syntax-text-color;

    .selection .region {
        background-color: @syntax-selection-color;
    }
}

.syntax--comment {
    color: @light-gray;
    font-style: italic;
}

.syntax--keyword {
    color: @red;
}

.syntax--storage {
    color: @light-orange;
}

.syntax--constant {
    color: @yellow;
}

.syntax--variable {
    color: @blue;
    font-style: italic;
}

.syntax--string {
    color: @light-red;

    &.syntax--regexp {
        color: @gold;
    }

    &.syntax--numeric {
        color: @beige;
    }
}

.syntax--support {
    &.syntax--class {
        color: @dark-orange;
    }

    &.syntax--other {
        &.syntax--namespace {
            color: @dark-orange;
        }
    }

    &.syntax--constant {
        color: @peach;
    }

    &.syntax--function  {
        color: @dark-beige;

        &.syntax--any-method {
            color: pink;
        }
    }
}

.syntax--entity {
    color: @light-blue;

    &.syntax--other.syntax--inherited-class {
        color: @brown;
        font-style: italic;
    }
    &.syntax--other.syntax--attribute-name {
        color: @dark-beige;
    }
}

.syntax--tag {
    &.syntax--sgml,
    &.syntax--structure,
    &.syntax--block {
        color: @cream;

        .syntax--other.syntax--attribute-name {
            color: @cream;
        }
    }

    &.syntax--inline,
    &.syntax--style {
        color: @dark-beige;

        .syntax--punctuation {
            color: @dark-beige;
        }
    }

    &.syntax--doctype {
        color: @light-gray;
    }

}

.syntax--source.syntax--css {
    .syntax--constant {
        color: @peach;
    }

    .syntax--support {
        &.syntax--type {
            color: @red;
        }

        &.syntax--property-value {
            color: @yellow;
        }

        &.syntax--color {
            color: @cream;
            font-style: italic;
        }
    }

    .syntax--entity:not(.syntax--html) {
        color: @light-blue;

        &.syntax--pseudo-class {
            color: @dark-beige;
        }
    }
}

.syntax--source.syntax--js {
    .syntax--entity.syntax--function {
        color: @beige;
    }
}

.syntax--source.syntax--sql {
    .syntax--entity.syntax--name {
        color: @light-blue;
    }
}

.syntax--template {
    color: @blue;

    // be more specific than `.syntax--source.syntax--sql .syntax--entity.syntax--name`
    .syntax--entity.syntax--name.syntax--tag {
        color: @beige;

        .syntax--punctuation {
            color: @red;
        }
        .syntax--entity.syntax--function {
            color: @blue;
        }
    }
}

.syntax--source.syntax--gfm {
    .syntax--markup {
        -webkit-font-smoothing: auto;
    }

    .syntax--heading {
        color: @light-blue;

        .syntax--marker {
            color: @red;
        }
    }

    .syntax--list {
        color: @light-orange;
        font-style: normal; // undo variable styling
    }

    .syntax--link {
        color: @light-orange;

        .syntax--entity {
            color: @light-red;
        }
    }

    .syntax--hr {
        color: white;
    }

    .syntax--emoji {
        color: @gold;
    }

    .syntax--raw.syntax--inline {
        color: @very-light-gray;
    }
}

.syntax--markup {
    &.syntax--link:hover {
        text-decoration: underline;
    }
}

// whole line background color for markup
.syntax--line {
    position: relative;

    .syntax--gfm.syntax--code::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: -100;
        background-color: @medium-gray;
        content: '';
    }
    .syntax--gfm.syntax--hr::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: -100;
        background-color: @dark-blue;
        content: '';
    }
}

// inline code blocks
atom-text-editor.editor {
    .syntax--markup.syntax--raw.syntax--gfm {
        background-color: @gray;
    }
}

.syntax--bracket-matcher .syntax--region {
    border-color: @very-light-gray;
}

atom-text-editor[mini] .scroll-view,
atom-text-editor .scroll-view {
    padding-left: 1px;
}
